name: Module - Unit Tests

on:
  workflow_call: # This makes it "callable" by other files

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with: { python-version: '3.10' }
      - name: Install & Test
        run: |
          pip install -r requirements.txt
          pip install pytest httpx
          pytest test_main.py # Runs the manual tests only
